<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <% if(currentUser) { %>
    <a href="/auth/logout">Click here to logout</a>
    <br />
    <br />
    <h1>My Folders</h1>
    <br />
    <% folders.forEach(function(folder) { %>
    <a href="/folders/<% folder.id %>"> <%= folder.title %> </a>
    <br />
    <% }) %> <% } %>
  </body>
</html>
