<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Logged out</title>
  </head>
  <body>
    <h1>Please <a href="/auth/signup">Sign Up from here</a></h1>
    <br /><br /><br />
    <h1>
      if you already have an account <a href="/auth/login">Login from here</a>
    </h1>
  </body>
</html>
