<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sing up</title>
  </head>
  <body>
    <h1>Sign up</h1>
    <%- include("errors.ejs") %>
    <form action="/auth/signup" method="POST">
      <label for="email">Email:</label>
      <input type="email" name="email" id="email" required />
      <br />
      <br />
      <label for="password">Password:</label>
      <input type="password" name="password" id="password" required />
      <br />
      <br />
      <label for="confirmPassword">Confirm Password:</label>
      <input
        type="password"
        name="confirmPassword"
        id="confirmPassword"
        required
      />
      <br />
      <br />
      <button type="submit">Register</button>
    </form>
    <br />
    <br />
    If you have an account,<a href="/auth/login"> login here</a>
  </body>
</html>
